extends layout 

block content 
  main.container
    form(action="/logout", method="post")
      button(type="submit") Logout 
  
    h1 Hej #{username}! Välkommen till Chiligang.
  
    h2 Change password