extends layout

block content
  main.container.d-flex.justify-content-center.align-items-center.h-100.w-100.flex-column
    h1= title
    p Välkommen till #{title}
    a(href = '/login') Logga in här!
